# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS proj
*.sdf
*.opensdf
*.tlog
*.log

$GIT_DIR/The\ Audio\ Tale/The\ Audio\ Tale/Debug
$GIT_DIR/The\ Audio\ Tale/The\ Audio\ Tale/Release
$GIT_DIR/The\ Audio\ Tale/Debug
$GIT_DIR/The\ Audio\ Tale/
$GIT_DIR/The\ Audio\ Tale/Release